/*正文样式*/
.h2w {
  font-family: "STHeitiTC-Light", "Microsoft YaHei Light", "Hiragino Sans GB", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  line-height: 1.8;
  word-wrap: break-word;
  word-break: break-all;
}

.h2w__main {
  margin: 0 30px 0px 30px;
  padding-top: 20px;

}

/**标题**/
.h2w__h1,
.h2w__h2,
.h2w__h3,
.h2w__h4,
.h2w__h5,
.h2w__h6 {
  font-weight: bold;
}

/**设置行间元素样式**/
.h2w__span,
.h2w__b,
.h2w__strong,
.h2w__i,
.h2w__em,
.h2w__code,
.h2w__sub,
.h2w__sup,
.h2w__g-emoji,
.h2w__mark,
.h2w__ins {
  display: inline;
}

.h2w__h1 {
  border-bottom-style: double;
  border-bottom-width: 6px;
  font-size: 42px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.h2w__h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 40px;
  padding-bottom: 8px;
  margin-bottom: 18px;
}

.h2w__h3 {
  font-size: 38px;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.h2w__h4 {
  font-size: 36px;
  padding-bottom: 4px;
  margin-bottom: 12px;
}

.h2w__h5 {
  font-size: 34px;
  padding-bottom: 2px;
  margin-bottom: 12px;
}

.h2w__h6 {
  margin-bottom: 12px;
}


/**表格**/
.h2w__tableParent {
  width: 100%;
  overflow-x: auto;
}

.h2w__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 40px;
  white-space: nowrap;
}

.h2w__table .h2w__tr:nth-child(2n) {
  background-color: red;
}

.h2w__colgroup {
  display: table-column-group;
}

.h2w__col {
  display: table-column;
}

.h2w__thead {
  display: table-header-group;
}

.h2w__tbody {
  display: table-row-group;
}

.h2w__tfoot {
  display: table-footer-group;
}

.h2w__tr {
  display: table-row;
}

.h2w__th,
.h2w__td {
  padding: 8px 16px;
  font-size: 28px;
  border-width: 1px;
  border-style: solid;
  display: table-cell;
}

.h2w__th {
  font-weight: bold;
}

/**代码块**/
.h2w__pre {
  /*white-space:nowrap;*/
  padding: 20px;
  font-size: 28px;
  word-break: normal;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 40px;
  white-space: nowrap;
  overflow-x: auto;
  tab-size: 4;
}

.h2w__pre .h2w__code {
  padding: 0;
  border: 0;
  font-size: 100%;
}

.h2w__pre,
.h2w__code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, "STHeitiTC-Light", "Microsoft YaHei Light", -apple-system, system-ui, BlinkMacSystemFont;
}

.h2w__code {
  padding: 4px 8px;
  margin: 0 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-size: 80%;
  overflow-x: auto;
}

.h2w__pre .h2w__span,
.h2w__pre .h2w__a,
.h2w__pre .h2w__span,
.h2w__pre .h2w__b,
.h2w__pre .h2w__strong,
.h2w__pre .h2w__i,
.h2w__pre .h2w__em {
  display: inline;
}

.h2w__pre {
  white-space: pre;
  display: block;
}

.h2w__pre .h2w__code {
  white-space: pre;
  min-width: 100%;
  display: block;
  font-size: 80%;
}
/**列表**/
.h2w__ul,
.h2w__ol {
  margin-bottom: 40px;
  padding-left: 1rem;
}

.h2w__ul .h2w__ol,
.h2w__ol .h2w__ul {
  margin-bottom: 0;
}

.h2w__li {
  display: list-item;
}

/**todo**/
.h2w__todogroup {
  margin-bottom: 40px;
}

.h2w__todolist {
  display: block;
}

.h2w__todogroup .h2w__todogroup {
  padding-left: 1.6rem;
}

/**一级ol样式**/
.h2w__ol {
  list-style-type: decimal;
}

/**二级ol样式**/
.h2w__ul .h2w__ol,
.h2w__ol .h2w__ol {
  list-style-type: lower-roman;
}

/**三级ol样式**/
.h2w__ul .h2w__ul .h2w__ol,
.h2w__ul .h2w__ol .h2w__ol,
.h2w__ol .h2w__ul .h2w__ol,
.h2w__ol .h2w__ol .h2w__ol {
  list-style-type: lower-alpha;
}

/**一级ul样式**/
.h2w__ul {
  list-style-type: disc;
}

/**二级ul样式**/
.h2w__ul .h2w__ul,
.h2w__ol .h2w__ul {
  list-style-type: circle;
}

/**三级样式**/
.h2w__ol .h2w__ol .h2w__ul,
.h2w__ol .h2w__ul .h2w__ul,
.h2w__ul .h2w__ol .h2w__ul,
.h2w__ul .h2w__ul .h2w__ul {
  list-style-type: square;
}

/**块元素**/
.h2w__p {
  margin: 20px 0 20px 0;
  /*word-wrap:break-word;
  word-break:break-all;*/
  /*text-align:justify;*/
}

.h2w__div {
  /*text-align:justify;*/
}

.h2w__blockquote {
  border-left-width: 8px;
  border-left-style: solid;
  padding: 0 20px;
}

/**内连元素**/
.h2w__a,
.h2w__span,
.h2w__b,
.h2w__strong,
.h2w__i,
.h2w__em {
  display: inline;
}

.h2w__b,
.h2w__strong {
  font-weight: bold;
}

.h2w__i,
.h2w__em {
  font-style: italic;
}

/**文本删除线**/
.h2w__s,
.h2w__strike,
.h2w__del {
  text-decoration: line-through;
}

/**文本下划线**/
.h2w__ins,
.h2w__u {
  text-decoration: underline;
}

/**链接**/
.h2w__a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  line-height: 1.2em;
  color: #0366d6;
  cursor: pointer;
}

.h2w__hr {
  height: 8px;
  margin: 40px 0;
}

/**荧光标记**/
.h2w__mark {
  border-radius: 4px;
}

/**上标、下标**/
.h2w__sup,
.h2w__sub {
  font-size: 75%;
  position: relative;
}

.h2w__sup {
  top: -0.5em;
}

.h2w__sub {
  bottom: -0.25em;
}

/**emoji表情**/
.h2w__g-emoji {
  margin: 0 0.1em;
  font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**内置元素**/
image, video {
  max-width: 100%;
}


video {
  width: 100%;
  margin: 10px auto;
}

image {
  vertical-align: middle;
}

video {
  font-size: 0;
}

.h2w__latex--line {
  margin: 4px 8px;
  vertical-align: middle;
}

.h2w__latex--block {
  display: block;
  margin: 1em auto;
}

.h2w__yuml {
  display: block;
}

.h2w__yumlBox {
  width: 100%;
  overflow-x: auto;
}

.h2w__yumlView {
  margin: 0 auto;
  padding-bottom: 40px;
}

/**代码行号**/
.h2w__lineNum {
  text-align: right;
  float: left;
  padding: 0;
  margin: 0 1em 0 0;
}

.h2w__lineNumLine {
  list-style: none;
}

.h2w__img {
  max-width: 100%
}
/*正文样式*/
.h2w-dark {
  color:#ddd;
  background-color:#000;
}

/**标题**/
.h2w-dark .h2w__h1,
.h2w-dark .h2w__h2 {
    border-color:#3d3d3d;
}


/**表格**/
.h2w-dark .h2w__thead .h2w__tr {
    background-color:#1f1f1f;
}
.h2w-dark .h2w__table .h2w__tr:nth-child(2n){
    background-color:#090909;
}
.h2w-dark .h2w__th,
.h2w-dark .h2w__td {
    border-color:#333;
}


/**代码块**/
.h2w-dark .h2w__pre,
.h2w-dark .h2w__pre .h2w__code {
    background-color:#1b1b1b;
    border-color:#262626;
}

.h2w-dark .h2w__code {
    background-color:#272822;
    border-color:#1b1c18;
}


/**块元素**/
.h2w-dark .h2w__blockquote {
    border-left-color:#10230f;
}

/**内连元素**/
.h2w-dark .h2w__a {
    color:#1aad16; border-color:#4d804b;
}

.h2w-dark .h2w__hr {
    background-color:#242424;
}

.h2w-dark .h2w__mark {
    background:yellow;
    color:black;
}

.h2w-dark .h2w__todoCheckbox .wx-checkbox-input {
    background:#2e2e2e; border-color:#494949;
}
.h2w-dark .h2w__todoCheckbox .wx-checkbox-input.wx-checkbox-input-checked {
    background:green; border-color:#4d804b;
}
.h2w-dark .h2w__todoCheckbox .wx-checkbox-input.wx-checkbox-input-checked::before {
    color:white;
}
.h2w-dark .h2w__lineNum {
    color:#494949;
}
/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822; color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

/*正文样式*/
.h2w-light {
  color:#333;
  background-color:white;
}

/**标题**/
.h2w-light .h2w__h1,
.h2w-light .h2w__h2 {
    border-color:#eee;
}


/**表格**/
.h2w-light .h2w__thead .h2w__tr {
    background-color:#f6f8fa;
}
.h2w-light .h2w__table .h2w__tr:nth-child(2n){
    background-color:#fbfcfd;
}
.h2w-light .h2w__th,
.h2w-light .h2w__td {
    border-color:#dfe2e5;
}


/**代码块**/
.h2w-light .h2w__pre {
    background-color:#f6f8fa;
    border-color:#eaedf0;
}

.h2w-light .h2w__code {
    background-color:#f6f8fa;
    border-color:#eaedf0;
}


/**块元素**/
.h2w-light .h2w__blockquote {
    border-left-color:#dfe2e5;
}

/**内连元素**/
.h2w-light .h2w__a {
    color:#1aad16; border-color:#b9d9b8;
}

.h2w-light .h2w__hr {
    background-color:#eee;
}

.h2w-light .h2w__mark {
    background:yellow;
    color:black;
}

.h2w-light .h2w__lineNum {
    color:#ccc;
}
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.h2w-light .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.h2w-light .hljs-comment,
.h2w-light .hljs-quote {
  color: #998;
  font-style: italic;
}

.h2w-light .hljs-keyword,
.h2w-light .hljs-selector-tag,
.h2w-light .hljs-subst {
  color: #333;
  font-weight: bold;
}

.h2w-light .hljs-number,
.h2w-light .hljs-literal,
.h2w-light .hljs-variable,
.h2w-light .hljs-template-variable,
.h2w-light .hljs-tag .hljs-attr {
  color: #008080;
}

.h2w-light .hljs-string,
.h2w-light .hljs-doctag {
  color: #d14;
}

.h2w-light .hljs-title,
.h2w-light .hljs-section,
.h2w-light .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.h2w-light .hljs-subst {
  font-weight: normal;
}

.h2w-light .hljs-type,
.h2w-light .hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.h2w-light .hljs-tag,
.h2w-light .hljs-name,
.h2w-light .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.h2w-light .hljs-regexp,
.h2w-light .hljs-link {
  color: #009926;
}

.h2w-light .hljs-symbol,
.h2w-light .hljs-bullet {
  color: #990073;
}

.h2w-light .hljs-built_in,
.h2w-light .hljs-builtin-name {
  color: #0086b3;
}

.h2w-light .hljs-meta {
  color: #999;
  font-weight: bold;
}

.h2w-light .hljs-deletion {
  background: #fdd;
}

.h2w-light .hljs-addition {
  background: #dfd;
}

.h2w-light .hljs-emphasis {
  font-style: italic;
}

.h2w-light .hljs-strong {
  font-weight: bold;
}

