.MessagesComponents{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
  .Comment{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 15px 100px 0 rgba(0,0,75,0.125);
    transition: box-shadow ease-out .5s;
    transition-delay: .2s;
    margin: 30px 0px 80px 0px;
    padding: 20px 0px 40px 0px;
    .NoneBorder{
      width: 88%;
      margin: 15px auto;
      height: 60px;
      line-height: 60px;
      font-size: 26px;
      padding:0px 15px;
    }
    .Border{
      width: 88%;
      margin: 15px auto;
      height: 60px;
      border: 1px solid #999999;
      line-height: 60px;
      border-radius: 10px;
      font-size: 26px;
      padding:0px 15px;
    }
    .Button{
      background-color: #ffffff;
      line-height: 65px;
      width: 140px;
      font-size: 26px;
      color: #333333;
      height: 65px;
      margin: 20px auto;
      border-radius: 10px;
      border: 1px solid #999999;
    }
  }
  .MessagesList{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 15px 100px 0 rgba(0,0,75,0.125);
    transition: box-shadow ease-out .5s;
    transition-delay: .2s;
    margin: 10px 0px;
    overflow: hidden;
    .User{
      display: flex;
      margin-top: 15px;
      .Avatar{
        width: 100px;
        height: 100px;
        margin:15px 5% 0px 10px;
        border-radius: 50%;
      }
      .Name{
        display: block;
        line-height: 70px;
      }
      .Date{
        display: block;
        //line-height: 80px;
        //line-height: 60px;
      }
    }
    .Content{
      margin: 15px 6% 5px 6%;
      overflow: hidden;
    }
    .Icon{
      margin:15px 0px 25px 88%;
      color: #333333;
      display: flex;
      justify-content:right;
    }
  }
}
